@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

$font-headers: "Arbutus Slab", Arial;
$font-body: "Roboto Slab", sans-serif;

$color-blue: #2988bc;
$color-white: #f4eade;
$color-darkblue: #2f496e;
$color-pastel: #ed8c72;

html {
  scroll-behavior: smooth;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(to bottom, #2F496E,#6FC8F9);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

  width: fit-content;
}


a {
  text-decoration: none;
}

