@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #2F496E, #6FC8F9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: fit-content;
}

a {
  text-decoration: none;
}