@use "./base" as *;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes windmillspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav__button {
  font-family: $font-body;
  font-size: 15px;
  color: $color-white;
  margin: 5px;
}

.nav__button:hover {
  transform: scale(1.1);
}

.skills {
  animation-delay: 6s;
  animation: fadein 6s;
}

.projects {
  animation-delay: 7s;
  animation: fadein 7s;
}

.contact {
  animation-delay: 8s;
  animation: fadein 8s;
}

.landing-page__hi {
  color: $color-white;
  font-size: 80px;
  margin: 65px;
  animation: fadein 2s, pulse 30s;
}

.landing-page__windmill {
  fill: $color-white;
  padding-bottom: 50px;
  display: block;
  text-align: center;
}

.landing-page__windmill-blades {
  animation: fadein 3s, windmillspin 120s;
}

.landing-page__header {
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 8s;
}

.section-header {
  color: $color-white;
  margin-top: 100px;
  margin-bottom: 10px;
  width: auto;
  text-align: center;
  font-size: 30px;
}

.scrollbar {
  margin: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  animation: fadein 10s;
  fill: $color-white;
}

.skills-techstack {
  margin: 20px;
  height: 100vh;
  width: 100%;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-techstack__grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.skills-techstack__icon {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.45s;
  padding: 10px;
}

.skills-techstack__icondesc {
  text-align: center;
  font-size: 25px;
  opacity: 0;
}

.skills-techstack__icondesc:hover {
  transition: 0.45s;
  opacity: 1;
}

.projects-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0px;
}

.project-card {
  width: 350px;
  padding: 20px;
  border: 1px solid $color-blue;
  color: $color-white;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  font-size: 20px;
}

.project-card:hover {
  opacity: 1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
}
