@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #2F496E, #6FC8F9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: fit-content;
}

a {
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes windmillspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav__button {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  color: #f4eade;
  margin: 5px;
}

.nav__button:hover {
  transform: scale(1.1);
}

.skills {
  animation-delay: 6s;
  animation: fadein 6s;
}

.projects {
  animation-delay: 7s;
  animation: fadein 7s;
}

.contact {
  animation-delay: 8s;
  animation: fadein 8s;
}

.landing-page__hi {
  color: #f4eade;
  font-size: 80px;
  margin: 65px;
  animation: fadein 2s, pulse 30s;
}

.landing-page__windmill {
  fill: #f4eade;
  padding-bottom: 50px;
  display: block;
  text-align: center;
}

.landing-page__windmill-blades {
  animation: fadein 3s, windmillspin 120s;
}

.landing-page__header {
  color: #f4eade;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 8s;
}

.section-header {
  color: #f4eade;
  width: auto;
  text-align: center;
  font-size: 30px;
}

.scrollbar {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f4eade;
  animation: fadein 10s;
  fill: #f4eade;
}

.skills-techstack {
  margin: 20px;
  height: 100vh;
  width: 100vh;
  color: #f4eade;
}

.skills-techstack__grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.skills-techstack__icon {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.45s;
}

.icondesc {
  text-align: center;
  font-size: 25px;
  opacity: 0;
}

.icondesc:hover {
  transition: 0.45s;
  opacity: 1;
}

#projects-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0px;
}

.project-card {
  width: 350px;
  padding: 20px;
  border: 1px solid #2988bc;
  color: #f4eade;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  font-size: 20px;
}

.project-card:hover {
  opacity: 1;
  box-shadow: 0px 5px 8px 0px black;
}