@use "./base" as *;

.navigation {
  height: 10vh;
  width: 100vw;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page {
  height: 100vh;
  width: 100vw;
}
