@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

body {
  background: linear-gradient(to bottom, #2f496e, #6fc8f9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page {
  height: 100vh;
  width: 100vw;
}