@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

body {
  background: linear-gradient(to bottom, #2f496e, #6fc8f9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes windmillspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav__button {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  color: #f4eade;
  margin: 5px;
}

.nav__button:hover {
  transform: scale(1.1);
}

.skills {
  animation-delay: 6s;
  animation: fadein 6s;
}

.projects {
  animation-delay: 7s;
  animation: fadein 7s;
}

.contact {
  animation-delay: 8s;
  animation: fadein 8s;
}

.landing-page__hi {
  color: #f4eade;
  font-size: 80px;
  font-family: "Arbutus Slab", Arial;
  margin: 65px;
  animation: fadein 2s, pulse 30s;
}

.landing-page__windmill {
  fill: #f4eade;
  padding-bottom: 50px;
  display: block;
  text-align: center;
}

.landing-page__windmill-blades {
  animation: fadein 3s, windmillspin 30s;
}

.landing-page__header {
  color: #f4eade;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 8s;
  font-family: "Arbutus Slab", Arial;
}

.section-header {
  color: #f4eade;
  margin-top: 100px;
  margin-bottom: 10px;
  width: auto;
  text-align: center;
  font-size: 30px;
}

.scrollbar {
  margin: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f4eade;
  animation: fadein 10s;
  fill: #f4eade;
  font-family: "Roboto Slab", sans-serif;
}

.skills-techstack {
  margin: 20px;
  height: 100vh;
  width: 100%;
  color: #f4eade;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-techstack__grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.skills-techstack__icon {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.45s;
  padding: 10px;
}

.skills-techstack__icondesc {
  text-align: center;
  font-size: 25px;
  opacity: 0.01;
}

.skills-techstack__icon:hover .skills-techstack__icondesc {
  transition: 0.45s;
  opacity: 1;
}

.projects-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  margin: 0px;
  grid-gap: 0px;
  width: 100vw;
}

.project-card {
  width: 350px;
  padding: 20px;
  border: 1px solid #2988bc;
  color: #f4eade;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}
.project-card img {
  height: 200px;
  width: 200px;
}

.project-card:hover {
  opacity: 1;
  box-shadow: 0px 5px 8px 0px black;
}

#contacts-content__Links {
  color: #f4eade;
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

#contacts-content__Links i {
  font-size: 80px;
}

.navigation {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page {
  height: 100vh;
  width: 100vw;
}

@media only screen and (min-width: 425px) {
  .landing-page__hi {
    font-size: 100px;
  }

  .skills-techstack__icon {
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .skills-techstack__grid {
    grid-template-columns: 200px 200px;
  }

  .project-page {
    height: 350vh;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    width: 275px;
    height: 400px;
  }
}
@media screen and (min-width: 800px) {
  .skills-techstack__icon {
    font-size: 60px;
  }

  .skills-techstack__icondesc {
    font-size: 30px;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1180px) {
  .skills-techstack__grid {
    grid-template-columns: 300px 300px 300px 300px;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}